* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Bagian latar belakang */
section {
  /* background: radial-gradient(#b7ff, blueviolet); */
  background: -o-repeating-radial-gradient(blueviolet, darkmagenta);
  background: repeating-radial-gradient(blueviolet, darkmagenta);
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Bagian Kalkulator */
.calculator {
  width: 90%;
  max-width: 400px;
  background-color: rgb(61, 60, 60);
  border-radius: 8px;
  overflow: hidden;
}

/* Bagian Tampilan Hitungan kalkulator */
.calculator-screen {
  width: 100%;
  height: 100px;
  background-color: rgb(211, 209, 209);
  color: rgb(50, 50, 50);
  text-align: right;
  font-size: 36px;
  border: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.calculator-keys {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  border: 0.5px solid rgba(0, 0, 0, 0.137);
  height: 100px;
  width: 25%;
  background-color: rgb(216, 209, 209);
  font-size: 30px;
  color: black;
  outline: none;
  cursor: pointer;
}

.history {
  width: 80%;
  margin: 30px auto 0 auto;
  overflow: scroll;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: center;
  padding: 16px;
}

th {
  background-color: blueviolet;
  color: white;
}

tr:nth-child(even) {
  background-color: #d2d2d2;
}

.all-clear,
.zero-btn {
  width: 50%;
}

.operator,
.equal-sign,
.percent {
  background-color: rgb(133, 135, 138);
}

.all-clear {
  background-color: rgb(192, 27, 27);
  color: white;
}

button:hover {
  background-color: rgb(96, 84, 107);
}

.operator:hover,
.equal-sign:hover,
.percent:hover {
  background-color: rgb(96, 84, 107);
}

.all-clear:hover {
  background-color: rgb(161, 20, 20);
}

@media screen and (max-width: 518px) {
  .History {
    width: 100%;
  }
}
